header {
  font: var(--text-md);
  padding-block: 3.2rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile {
  display: flex;
  gap: 3.2rem;
}

#profile img {
  width: 17.6rem;
  height: 17.6rem;
  border-radius: 50%;
  object-fit: cover;
}

#profile > div {
  max-width: 38.4rem;
}

#profile h1 {
  color: var(--text-color-primary);
  font: var(--text-lg);
  margin-bottom: 0.8rem;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.6rem;
  list-style: none;

  width: 28rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
