nav,
ul {
  display: flex;
  align-items: center;
}

nav {
  font: var(--text);
  justify-content: space-between;
  padding-block: 2rem;

  line-height: 0;

}

nav ul {
  gap: 2rem;
  list-style: none;
  padding-block: 8px;
}


nav a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

nav ul li:first-child img:hover {
  content: url("/assets/icons/hover_search.svg");
}

nav ul li:last-child img {
  border-radius: 50%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}
